{% extends 'base.html' %}
{% load crispy_forms_field %}

{% block content %}
    <div class="register-photo">
        <div class="form-container">
            <form class="margin-top-bottom box box-shadow" action = "{% url 'change_password' %}" method = "POST">
                <h1 class="box-title">Change Password</h1>
                {% csrf_token %}
                {% if message %}
                <div class="form-group">
                    <p class="form-error text-danger">{{message}}</p>
                </div>
                {% endif %}
                <div class="form-group">
                    <p class="form-label">Old Password:</p>
                    <input type="password" class="form-control" name="old_password">
                </div>
                <div class="form-group">
                    <p class="form-label">New password:</p>
                    <input type="password" class="form-control" name="password">
                </div>
                <div class="form-group">
                    <p class="form-label">Password confirmation:</p>
                    <input type="password" class="form-control" name="confirmation">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-success" name="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}