{% extends 'home.html' %}
{% load crispy_forms_tags %}

    {% block content %}
        <div class="tab-content">
            <div class="register-photo">
                <div class="form-container">
                <form method="post">
                    {% block title %}
                        <h4 class="text-center"><strong>You have been logged out</strong></h4>
                    {%  endblock %}

                    <p>Would you like to login again?<a href="{% url 'login' %}"><br>Click here!</a></p>
                    <p>Would you like to return on home page?<a href="{% url 'home' %}"><br>Click here!</a></p>
                </form>
                </div>
                </div>
            </div>
        </div>
    {% endblock %}