{% extends 'base.html' %}
{% load crispy_forms_tags %}

    {% block content %}
        <div class="login-clean">
            <form method="post" action="{% url 'login' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <h2 class="text-center"><strong>Login</strong></h2>
                {{ form|crispy }}
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">Login</button>
                </div>
            </form>
        </div>
        <div class="text-center">
            <a class="already" href="{% url 'register' %}">Need An Account? Sign Up Now.</a>
        </div>
    {% endblock %}