{% extends 'base.html' %}

{% block content %}
    <div class="register-photo">
        <div class="form-container">
            <h2 class="text-center"><strong>Your {{ user.username }} account</strong></h2>
            <h1 class="setting-title">Your user account:</h1>
            <div class="box box-shadow margin-top-bottom">
                <p class="text-label">Username: {{ user.username }}</p>
                <p class="text-label">Email: {{ user.email }}</p>
                <p class="text-label">Password: 【your password】</p>
                <p class="text-blur"><a href="{% url 'edit_account' %}" class="link">Edit account</a></p>
                <p class="text-blur"><a href="{% url 'change_password' %}" class="link">Change password</a></p>
                <p class="text-blur"><a href="{% url 'delete_account' %}" class="link">Delete account</a></p>
            </div>
        </div>
    </div>
{% endblock %}
