{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">


{#            <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">#}
        <link rel="stylesheet" type="text/css" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700">
{#            <link rel="stylesheet" href="../static/assets/fonts/font-awesome.min.css">#}
        <link rel="stylesheet" type="text/css" href="{% static 'assets/fonts/font-awesome.min.css' %}">
{#            <link rel="stylesheet" href="../static/assets/fonts/ionicons.min.css">#}
        <link rel="stylesheet" type="text/css" href="{% static 'assets/fonts/ionicons.min.css' %}">
{#            <link rel="stylesheet" href="../static/assets/css/Login-Form-Clean.css">#}
        <link rel="stylesheet" type="text/css" href="{% static 'assets/css/Login-Form-Clean.css' %}">
{#            <link rel="stylesheet" href="../static/assets/css/Registration-Form-with-Photo.css">#}
        <link rel="stylesheet" type="text/css" href="{% static 'assets/css/Registration-Form-with-Photo.css' %}">

        <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

        {% if title %}
            <title>Best Price - {{ title }}</title>
        {% else %}
            <title>Best Price</title>
        {% endif %}
    </head>

    <body>
        <div id="page-top">
            <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav">
                <div class="container">
                    <a class="navbar-brand" href="{% url 'home' %}">
                    <h1>Best Price</h1></a>
                    <button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right"
                        type="button" data-toogle="collapse" aria-controls="navbarResponsive" aria-expanded="false"
                        aria-label="Toggle navigation" ><i class="fa fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="nav navbar-nav ml-auto text-uppercase">
                            {% if request.user.is_authenticated %}
                                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'account'%}">
                                    {{ request.user}}</a></li>
                                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'logout' %}">Logout</a></li>
                                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'create_item' %}">Products</a></li>
                            {% else %}
                                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'login' %}">Login</a></li>
                                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'register' %}">Register</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </body>

    <header>
        <div>
            {% block content %}

            {% endblock %}
        </div>
    </header>

    <body>
        <div class="container-md-3">
            {% block content1 %}

            {% endblock %}
        </div>
    </body>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4"><span class="copyright">Copyright © BestPrice 2021</span></div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                        <li class="list-inline-item"><a href="#">Terms of Use</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="/static/assets/js/agency.js"></script>
{#    <script src="{% static 'assets/js/boostrap.js' %}"></script>#}
{#    <script scr="{% static 'assets/js/jquery.js' %}"></script>#}
{#    <script src="{% static 'assets/js/jquery.boostrap.modal.forms.js' %}"></script>#}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</html>