{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{#<title>Bootstrap CRUD Data Table for Database with Modal Form</title>#}
{#<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">#}
{#<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">#}
{#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">#}
{#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">#}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        // Activate tooltip
        $('[data-toggle="tooltip"]').tooltip();

        // Select/Deselect checkboxes
        var checkbox = $('table tbody input[type="checkbox"]');
        $("#selectAll").click(function () {
            if (this.checked) {
                checkbox.each(function () {
                    this.checked = true;
                });
            } else {
                checkbox.each(function () {
                    this.checked = false;
                });
            }
        });
        checkbox.click(function () {
            if (!this.checked) {
                $("#selectAll").prop("checked", false);
            }
        });
    });
</script>

{#In if-ul de mai sus, poti sa customizezi, si sa instiintezi cum vrei tu user ul#}
{#    in sensul in care, poti customiza cum vrei#}

{% block content1 %}
    <div class="register-photo">
        <div class="login-clean">
            {% if mesa %}
                <div style="background: #eb3b60;
  width:auto;
  height:50px;
  border-radius: 10px;">
                    <p>Nu mai poti adauga nimic. Din pacate produsul exista.</p>
                </div>
            {% endif %}
            <div class="container">
                <div class="table-responsive">
                    <div class="table-wrapper">
                        <div class="table-title">
                            <div class="row">
                                <div class="col-xs-6 ">
                                    <h2>{{ request.user }}'s list</h2>
                                </div>
                                <div class="col-xs-6">
                                    <a href="#addProductModal" class="btn btn-success" data-toggle="modal"><i
                                            class="material-icons fa fa-plus"></i> <span>Add an item for tracking</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Desired Price</th>
                            <th>Web Price</th>
                            <th>Actions</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for item in qs %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.desired_price }}</td>
                                <td>{{ item.web_price }}</td>
                                <td>
                                    <a href="{% url 'edit_item_view' item.pk %}"><i class="fa fa-pencil"></i> </a>
                                    <a href="{% url 'delete_item' item.pk %}"><i class=" fa fa-trash"></i></a>
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                    <div id="addProductModal" class="modal fade" data-backdrop="static">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class="modal-title" id="itemModal">Add link</div>
                                    <button type="button" class=" btn-close" data-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <form action="" method="post">
                                    {% csrf_token %}
                                    {{ form }}
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary mt-2">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

<script type="text/javascript" src="{% static 'assets/js/script.js' %}"></script>
