{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="register-photo">
        <div class="form-container">
            <form class="box box-shadow margin-top-bottom" method="POST" action="">
                {% csrf_token %}
                {{ form|crispy }}
                <h3><p class="align-text-top">Are you sure you want to delete:</h3>
                <h2><p class="text-warning">{{ context_d.name }}</h2>
                <div class="form-group text-left">
                    <input type="submit" class="btn btn-outline-success" value="No">
                    <input type="submit" class="btn btn-outline-danger" value="Delete">
                </div>
            </form>
        </div>
    </div>
{% endblock content %}