{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="register-photo">
        <div class="form-container">
            <form class="box box-shadow margin-top-bottom" method="POST" action="{% url 'delete_account' %}">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="form-group">
                    <h3><p class="text-center"> Do you want to delete your account? </h3>
                    <h3><p class="text-center text-uppercase"> {{ user.username }} </h3>
                    <div class="form_group text-center">
                        <input type="submit" class="btn btn-outline-primary" value="Yes">
                        <input type="submit" class="btn btn-outline-primary" value="No">
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
{% endblock %}