{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

    {% block content %}
    <div class="register-photo">
        <div class="form-container">
            <form class="box box-shadow margin-top-bottom" method="POST" action = "{% url 'edit_account' %}">
                <h1 class="box-title">Edit account</h1>
                {% csrf_token %}
                {{ form|crispy}}
                <div class="form-group">
                    <p class="form-label">Username:</p>
                    <input type="text" class="form-control" value = "{{user.username}}" name="username">
                </div>
                <div class="form-group">
                    <p class="form-label">Email:</p>
                    <input type="email" class="form-control" value = "{{user.email}}" name="email">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-success">Edit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
