{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}


{% block content1 %}
    <div class="register-photo">
        <div class="form-container">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="hidden" name="{{ form.url.value }}">
                <button type="submit" class="btn btn-outline-success">Edit</button>

            </form>
        </div>
    </div>
{% endblock %}
