{% extends 'base.html' %}

    {% block title %}
        <title>Best Price</title>
    {% endblock %}
        {% block content %}
            <header class="masthead" style="background-image:url('/static/assets/img/header-bg.jpg');">
                <div class="container">
                    <div class="intro-text">
                        <div class="intro-lead-in text-uppercase"><span>Welcome To Our Service made for you!</span></div>
                        <br>
                        <div class="intro-heading text-uppercase"><span>It's Nice To Meet You</span></div>
                        <br>
                        <div class="intro-lead-in"><span>We are working for you! It's about monitoring a product from an e-commerce site and receiving by a user an email alert when a desired product have a lower price!</span></div>
                    </div>
                </div>
            </header>
        {% endblock content %}
