{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="register-photo">
        <div class="form-container">
            <form method="post" enctype="multipart/form-data" >
                {% csrf_token %}
                <h2 class="text-center"><strong>Create</strong> an account.</h2>
                    {% if message %}
                    <div class="form-group">
                        <p class="form-error text-danger">{{message}}</p>
                    </div>
                    {% endif %}
                    <div class="form-group">
                        <p class="form-label">Username:</p>
                        <input type="text" class="form-control input-username" name="username" required>
                    </div>
                    <div class="form-group">
                        <p class="form-label">Email:</p>
                        <input type="email" class="form-control" name="email" required>
                    </div>
                    <div class="form-group">
                        <p class="form-label">Password:</p>
                        <input type="password" class="form-control" name="password" required>
                    </div>
                    <div class="form-group">
                        <p class="form-label">Password confirmation:</p>
                        <input type="password" class="form-control" name="confirmation" required>
                    </div>
                    <div class="form-group">
                        <p class="form-label">Already have account? <a class="link" href = "{% url 'login' %}">Login</a></p>
                        <input type="submit" class="btn btn-outline-primary" value = "Register">
                    </div>
            </form>
        </div>
        <div class="text-center" >
            <a class="already" href="{% url 'login' %}">You already have an account? Login here.</a>
        </div>
     </div>
{% endblock %}
