{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

    {% block content %}
        <div class="login-clean">
    {% block title %}
        <h2 class="text-center">View Products</h2>
    {% endblock %}

    <!-- Modal -->
        <div class="modal fade" id="addItemModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add an item for tracking</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="POST" autocomplete="off">
                            {% csrf_token %}
                            {{forms|crispy }}
                            <button type="submit" class="btn btn-primary mt-2">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

{#        <div class="row">#}
            <div class="col text-xl-left">
                <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addItemModal">Add</button>
{#                    <a href="{% url 'update-prices' %}">#}
                <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addItemModal">Add Your Price</button></a>
                    <a {{ request.desired_price }}>
                <button class="btn btn-info">Update</button></a>
            </div>
{#        </div>#}
                    </a>
            </div>

{#        {% for produs in context %}#}
{#            {{ produs.url }}#}
{#        {% endfor %}#}
        </div>

    {% endblock content %}
